html {
    height: 100%;
    width: 100%;
    font: 14px / 1.625 "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: black;
    overflow: hidden;
    background-image: url(../img/intro-bg-xs.jpg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        background-image: url(../img/intro-bg-sm.jpg);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-image: url(../img/intro-bg-md.jpg);
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url(../img/intro-bg-lg.jpg);
    }
}

header {
    background: red;
    margin-left: 20px;
}

h1 {
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    color: ghostwhite;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    display: table;
}

footer nav {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    padding-right: 1em;
}

footer nav a {
    text-decoration: none;
}

footer nav img {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    background: white;
    border-radius: 18px;
    padding: 2px;
    margin: 2px;
}